
html,
body{
	height: 100%;
	margin: 0;
	font-family: 'Raleway', sans-serif;
}




/*****************  Image Gallery  ******************/

/*****************  Image Paragraphs and Headings  ******************/

/*Extra */

/*****************  Footer  ******************/

/*****************  MEDIA QUERIES (TABLET) ******************/
/***********************************************************/

@media (min-width: 768px) {
/*Body Styles*/

/* Header Styles */

/*banner styling*/

/*Gallery*/

/*Img gallery Paragraphs*/

/*EXTRA*/

/*****************  MEDIA QUERIES (DESKTOP) ******************/
/************************************************************/

@media (min-width: 1024px) {



/******************  Left Menu  *******************/

#left{
	width: 20%;
	height: 100%;
	position: fixed;
	background: gray;

}
/******************  Right Side Content  *******************/
/**********************************************************/

#right{
	width: 80%;
	height: auto;
	position: absolute;
	right: 0;
	background: white;

}
.gallery{

	width: 100%;
	margin: 0 auto;
}

.gallery img{
	width: auto;
	display: inline-block;
	width: 100%;
	height: auto;
	float: left;

}

div p{

	background: blue;
	height: auto;
	padding: .05%;
}

}

/************************** LARGE DISPLAYS ******************************/
/***********************************************************************/

@media (min-width : 1824px){




}



/**********************PROJECT PAGES STYLING*************************************************************/



/*images*/




/**********************END PROJECT PAGES STYLING*********************************************************/


/*STYLE-TILE*/






